---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: ForContinuationAndIndentation
ColumnLimit: 120
PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SortIncludes: false
IncludeBlocks: Preserve
---
