#---------------------------------------------------------------------------
# Triton config file
#---------------------------------------------------------------------------

#---------------------------------------------------------------------------
# Mandatory input files
#---------------------------------------------------------------------------
dem_filename="input/paraboloid/paraboloid.dem"

#---------------------------------------------------------------------------
# Format=BIN or ASC or GTIFF
# Option=PAR or SEQ
#---------------------------------------------------------------------------
input_format=ASC
outfile_pattern="%s/%s/%s_%02d_%02d"
output_format=ASC
output_option=SEQ

#---------------------------------------------------------------------------
# Hydrograph and flow locations information
#---------------------------------------------------------------------------
num_sources=0
hydrograph_filename=""
src_loc_file=""

#---------------------------------------------------------------------------
# Manning input files
#---------------------------------------------------------------------------
n_infile=""
const_mann=0.0

#---------------------------------------------------------------------------
# Runoff related information
#---------------------------------------------------------------------------
num_runoffs=0
runoff_filename=""
runoff_map=""

#---------------------------------------------------------------------------
# External boundaries
#---------------------------------------------------------------------------
num_extbc=0
extbc_dir=""
extbc_file=""

#---------------------------------------------------------------------------
# time_series_flag=1 to activate, 0 to deactivate
#---------------------------------------------------------------------------
observation_loc_file="input/paraboloid/paraboloid.obs"
time_series_flag=1

#---------------------------------------------------------------------------
# print_option=h to output just the h, huv to output all h,u and v
#---------------------------------------------------------------------------
print_option=huv

#---------------------------------------------------------------------------
# Start and duration of simulation time in seconds
#---------------------------------------------------------------------------
sim_start_time=0
sim_duration=13.4571

#---------------------------------------------------------------------------
# If checkpoint_id is 0 that means a clean start
#---------------------------------------------------------------------------
checkpoint_id=0

#---------------------------------------------------------------------------
# time_increment_fixed=0 is for variable dt, 1 for constant dt
#---------------------------------------------------------------------------
time_increment_fixed=0
time_step=0.01

#---------------------------------------------------------------------------
# Spatial/temporal print (in seconds) & iteration output
#---------------------------------------------------------------------------
print_interval=1.121425
print_observation=4.4857
it_print=400
#---------------------------------------------------------------------------
# Initial input files
#---------------------------------------------------------------------------
h_infile="input/paraboloid/paraboloid.inith"
qx_infile="input/paraboloid/paraboloid.initqx"
qy_infile="input/paraboloid/paraboloid.initqy"

#---------------------------------------------------------------------------
# Other parameters
#---------------------------------------------------------------------------
it_count=0
courant=0.45
hextra=0.0001
gpu_direct_flag=0
domain_decomposition=static
factor_interval_domain_decomposition=2
open_boundaries=0
