#---------------------------------------------------------------------------
# TRITON config file
#---------------------------------------------------------------------------

#---------------------------------------------------------------------------
# Mandatory input files
#---------------------------------------------------------------------------
dem_filename="input/allatoona/allatoona.dem"
output_folder="test_output_geotiff_PAR4"
#---------------------------------------------------------------------------
# Format=BIN or ASC or GTIFF
# Option=PAR or SEQ
#---------------------------------------------------------------------------
input_format=ASC
outfile_pattern="%s/%s/%s_%02d_%02d"
output_format=GTIFF
projection="EPSG:32616"
output_option=PAR

#---------------------------------------------------------------------------
# Hydrograph and flow locations information
#---------------------------------------------------------------------------
num_sources=2
hydrograph_filename="input/allatoona/allatoona.hyg"
src_loc_file="input/allatoona/allatoona.src"

#---------------------------------------------------------------------------
# Manning input files
#---------------------------------------------------------------------------
n_infile="input/allatoona/allatoona.mann"

#---------------------------------------------------------------------------
# Runoff related information
#---------------------------------------------------------------------------
num_runoffs=156
runoff_filename="input/allatoona/allatoona.roff"
runoff_map="input/allatoona/allatoona.rmap"

#---------------------------------------------------------------------------
# External boundaries
#---------------------------------------------------------------------------
num_extbc=2
extbc_dir="input/allatoona/"
extbc_file="input/allatoona/allatoona.extbc"

#---------------------------------------------------------------------------
# time_series_flag=1 to activate, 0 to deactivate
#---------------------------------------------------------------------------
time_series_flag=1
observation_loc_file="input/allatoona/allatoona.obs"


#---------------------------------------------------------------------------
# print_option=h to output just the h, huv to output all h,u and v
# max_value_print_option=h (prints the maximum h values for each grid cell achieved during the simulation)
#---------------------------------------------------------------------------
print_option=huv
max_value_print_option=h
#---------------------------------------------------------------------------
# Start and duration of simulation time in seconds
#---------------------------------------------------------------------------
sim_start_time=0
sim_duration=432000

#---------------------------------------------------------------------------
# If checkpoint_id is 0 that means a clean start
#---------------------------------------------------------------------------
checkpoint_id=0

#---------------------------------------------------------------------------
# time_increment_fixed=0 is for variable dt, 1 for constant dt
#---------------------------------------------------------------------------
time_increment_fixed=0
time_step=0.01

#---------------------------------------------------------------------------
# Spatial/temporal print (in seconds) & iteration output
#---------------------------------------------------------------------------
print_interval=1800
print_observation=600
it_print=5000

#---------------------------------------------------------------------------
# Initial input files
#---------------------------------------------------------------------------
h_infile=""
qx_infile=""
qy_infile=""

#---------------------------------------------------------------------------
# Other parameters
#---------------------------------------------------------------------------
it_count=0
courant=0.5
hextra=0.001
gpu_direct_flag=0
domain_decomposition=static
factor_interval_domain_decomposition=2
open_boundaries=0
